<form action="/expert" method="get">

  <div class="form-group">
    <label class="labels" for="exampleFormControlSelect1">健康運動系科目</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <% for num in 0..20 do %>
      <option><%=num %> 単位</option>
      <%end%>
    </select>

    <label class="labels" for="exampleFormControlSelect1">人文系科目</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <% for num in 0..30 do %>
        <option><%=num %> 単位</option>
      <%end%>
    </select>

    <label class="labels" for="exampleFormControlSelect1">社会系科目</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <% for num in 0..30 do %>
        <option><%=num %> 単位</option>
      <%end%>
    </select>

    <label class="labels" for="exampleFormControlSelect1">自然系科目</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <% for num in 0..30 do %>
        <option><%=num %> 単位</option>
      <%end%>
    </select>

    <label class="labels" for="exampleFormControlSelect1">総合</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <% for num in 0..20 do %>
        <option><%=num %> 単位</option>
      <%end%>
    </select>

    <label class="labels" for="exampleFormControlSelect1">琉大特色科目</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <% for num in 0..20 do %>
        <option><%=num %> 単位</option>
      <%end%>
    </select>

    <label class="labels" for="exampleFormControlSelect1">情報関係科目</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <% for num in 0..20 do %>
        <option><%=num %> 単位</option>
      <%end%>
    </select>

    <label class="labels" for="exampleFormControlSelect1">第１外国語</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <% for num in 0..20 do %>
        <option><%=num %> 単位</option>
      <%end%>
    </select>

    <label class="labels" for="exampleFormControlSelect1">第２外国語</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <% for num in 0..20 do %>
        <option><%=num %> 単位</option>
      <%end%>
    </select>

    <input type="submit" class="btn btn-dark" value="次へ">

  </div>

</form>