<form action="/expert" method="get">

  <div class="form-group">
    <label class="labels" for="exampleFormControlSelect1">学科基礎科目（必修）</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <% for num in 0..40 do %>
        <option><%=num %> 単位</option>
      <%end%>
    </select>

    <label class="labels" for="exampleFormControlSelect1">学科基礎科目（選択必修）</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <% for num in 0..16 do %>
        <option><%=num %> 単位</option>
      <%end%>
    </select>

    <label class="labels" for="exampleFormControlSelect1">学科特殊科目</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <% for num in 0..30 do %>
        <option><%=num %> 単位</option>
      <%end%>
    </select>

    <label class="labels" for="exampleFormControlSelect1">学科選択科目</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <% for num in 0..30 do %>
        <option><%=num %> 単位</option>
      <%end%>
    </select>

    <label class="labels" for="exampleFormControlSelect1">他学部科目</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <% for num in 0..30 do %>
        <option><%=num %> 単位</option>
      <%end%>
    </select>

    <input type="submit" class="btn btn-dark" value="次へ">

  </div>

</form>

<!--<div class="select-wrapper row">-->
<!--  <label class="col s5">健康運動</label>-->
<!--  <select class="browser-default col s7" name="exercise">-->
<!--    <option value="" disabled selected>単位数</option>-->
    <%# (0..10).each do |num| %>
<!--      <option value="<%#= num %>"><%#= num %></option>-->
    <%# end %>
<!--  </select>-->

<!--</div>-->