
<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">健康運動</label>
  <%= $health %>/2
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">人文系科目</label>
  <%= $humanity %>/4
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">社会系科目</label>
  <%= $society %>/4
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">自然系科目</label>
  <%= $nature %>/4
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">第１外国語</label>
  <%= $language1 %>/10
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">その他教養</label>
  <%= $other_general_units %>/8
</div>



<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">学科基礎科目（必修)</label>
  <%= $compulsory_subjects %>/20
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">学科基礎科目（選択必修）</label>
  <%= $compulsory_elective %>/4
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">学科特殊科目</label>
  <%= $department_unique %>/16
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">学科選択科目</label>
  <%= $department_elective %>/14
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">他学部科目</label>
  <%= $other_faculty %>
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">自由科目</label>
  <%= $elective_units %>
</div>

