<p>卒業要項</p>
<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">健康運動系科目</label>
  <%= @health %>/2
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">人文系科目</label>
  <%= @humanity %>/4
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">社会系科目</label>
  <%= @society %>/4
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">自然系科目</label>
  <%= @nature %>/4
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">その他教養領域及び総合・琉大特色科目</label>
  <%= @other_liberal_arts %>/8
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">外国語（英語）</label>
  <%= @english %>/10
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">共通教育総計</label>
  <%= @general_units %>/32
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">学科基礎科目（必修)</label>
  <%= @compulsory_subjects %>/20
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">学科基礎科目（選択必修）</label>
  <%= @compulsory_elective %>/4
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">学科特色科目</label>
  <%= @department_unique %>/16
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">学科選択科目</label>
  <%= @department_elective %>/14
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">自由科目</label>
  <%= @elective_units %>/38
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">専門教育総計</label>
  <%= @total_expert_units %>/92
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">総単位数</label>
  <%= @total_units %>/124
</div>

<button onclick="location.href='/'" type="button" class="btn btn-dark">再度計算</button>