<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">健康運動</label>
  <%= $health %>
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">人文系科目</label>
  <%= $humanity %>
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">社会系科目</label>
  <%= $society %>
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">自然系科目</label>
  <%= $nature %>
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">総合</label>
  <%= $synthesis %>
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">琉大特殊科目</label>
  <%= $ryudai %>
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">情報系科目</label>
  <%= $information %>
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">第１外国語</label>
  <%= $language1 %>
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">第２外国語</label>
  <%= $language2 %>
</div>


<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">学科基礎科目（必修)</label>
  <%= $compulsory_subjects %>
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">学科基礎科目（選択必修）</label>
  <%= $compulsory_elective %>
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">学科特殊科目</label>
  <%= $department_unique %>
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">学科選択科目</label>
  <%= $department_elective %>
</div>

<div>
  <label class="input-units-labels" for="exampleFormControlSelect1">他学部科目</label>
  <%= $other_faculty %>
</div>
